@font-face {
    font-family: "galmuri";
    src: url("/resources/fonts/Galmuri9.ttf") format("truetype");
  }
  @font-face {
    font-family: "stardust";
    src: url("/resources/fonts/PF스타더스트.ttf") format("truetype");
  }


body {
  font-family: "stardust", sans-serif !important; 
  font-size: 18px !important;
  /* font-weight: 600 !important; */
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  
  }


* {
	text-align: center;
}
 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 30px;
  height: 100vh; /* 이전에는 200vh로 되어 있었습니다. */
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 25px;
  color : white;
  cursor: pointer;
  
}

input {
  border-radius: 10px; /* 둥글게 설정할 모서리의 크기를 조정할 수 있습니다. */
}

textarea {
	border-radius: 10px;
}

.imageBox {
	margin-left: 10px;
}

img {
  border-radius: 10px;
}


.boardBox {
	margin-right: 10px;

}

.carousel-item img {
  width: 100%;
  height: auto;
}


.thBox {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.thumb {
	flex: 0 0 auto;
	margin-right: 10px;
	position: relative;
  display: inline-block;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.dropBox {
	width: 600px;
	height: 600px;
	margin: .6rem;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	border: 4px dashed #ddd;
	position: relative;
	z-index: 1; 
}
  
#trigger {
  /* 기존 스타일 유지 */
  position: absolute; /* 추가 */
  top: 50%; /* 추가 */
  left: 50%; /* 추가 */
  transform: translate(-50%, -50%); /* 추가 */
}
  
  
  
/* 미디어 쿼리 */
@media screen and (max-width: 768px) {
	/* 화면 너비가 768px 이하일 때 적용되는 스타일 */
	.container {
		flex-direction: column;
		align-items: center;
	}
	.imageBox{
		margin-top: 10px
	} 
	
	.boardBox {
		margin-bottom: 10px;
	}
	
	.dropBox {
	width: 500px;
	height: 700px;	
	}
}



/* 드롭 반응 */
.dropBox.active {
	background: #ddd;
}

.dropBox h1 {
	font-size: 1.8rem;
}

.preview-image {
	width: 500px;
	height: 500px;
}

#imageZone {
	width: 200px;
	height: 200px;
	border: 1px;
}





/* ----------- */
@import
	url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css')
	;

.tagify {
	width: 100%;
	max-width: 700px;
	border-radius: 10px;
}