<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.markup.www.repository.UserDAO">
  
  <insert id="insertUser">
    insert into user (id, pw, name, email, u_content, u_tag, img_file)
    values(#{id}, #{pw}, #{name}, #{email}, #{ucontent}, #{utag}, #{imgFile}) 
  </insert>
  
  <select id="getUser" resultType="com.markup.www.domain.UserVO">
    select * from user where id=#{id}
  </select>
  
  <update id="modifyUser">
    update user set name=#{name}, email=#{email}, u_content=#{ucontent}, u_tag=#{utag}, img_file=#{imgFile} where id=#{id}
  </update>
  
  <update id="modifyPw">
    update user set pw=#{pw} where id=#{id}
  </update>
  
  <select id="getList" resultType="com.markup.www.domain.UserVO">
    select * from user
  </select>
  
  <update id="follower">
    update user set follower=
    case when follower is null then #{follower}
    else concat(follower,',',#{follower}) end
    where id=#{following}
  </update>
  
  <update id="following">
    update user set following=
    case when following is null then #{following}
    else concat(following,',',#{following}) end
    where id=#{follower}
  </update>
  
  <select id="followingList" resultType="com.markup.www.domain.UserVO">
    select * from user where follower=#{id}
  </select>
  
  <select id="followerList" resultType="com.markup.www.domain.UserVO">
    select * from user where following=#{id}
  </select>
  
  <update id="updateFollowing">
    update user set following=#{following} where id=#{id}
  </update>
  
  <update id="updateFollowers">
    update user set follower=#{follower} where id=#{id}
  </update>
  
  <delete id="deleteUser">
    DELETE FROM user WHERE id = #{id};
  </delete>
  
  <select id="getUserList" parameterType="java.util.List" resultType="com.markup.www.domain.UserVO" >
  	select * from user where id in
  	<foreach collection="list" item="id" open="(" separator=", " close=")">
        #{id}
    </foreach>
  </select>
</mapper>
